<div ng-show="!body.signedOn()">

  User Name:<input type="text" name="user" size="25" ng-model="user">
  <input type="submit" value="Submit" ng-click="body.submitClick(user)">
</div>
<div ng-show="body.signedOn()">
  <p class="ft-par col-md-12" style="text-align:center">Player:{{body.userName}}</p>
<button
    class="ft-btn col-md-12"
    ng-click="body.click()">
  <h2>+{{body.amount | number: 2}}</h2>
</button>
<p class="ft-par col-md-12" style="text-align:left">Click here to multiply:</p>
<button2
    class="ft-btn col-md-12"
    ng-click="body.click2()"
    ng-disabled="body.disabled()">
  <h2>Cost is {{body.multiplierCost | number: 0}} clicks *{{body.multiplier | number: 2}}</h2>
</button2>
<p class="ft-par col-md-6" style="text-align:left">Click here to add autoclicker:</p>
<p class="ft-par col-md-6" style="text-align:right"> Number of clickers is: {{body.clickerCount}}</p>
<button3
    class="ft-btn col-md-12"
    ng-click="body.click3()"
    ng-disabled="body.disabled2()">
  <h2>Cost to click is {{body.clickerCost | number: 0}}</h2>
</button3>
<p class="ft-par col-md-12" style="text-align:left">Click here to reset:</p>
<button4
    class="ft-btn2 col-md-6"
    ng-click="body.click4()"
    ng-disabled="body.disabled3()">
  <h2>Reset</h2>
</button4>
<button5
    class="ft-btn3 col-md-6"
    ng-click="body.click5()">
  <h2>Sign Off</h2>
</button5>
</div>
